body {
    /* Prevengo copy paste */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    /* Esto arregla error de alto de pantalla */
    position: fixed;
}

.contenedor {
    overflow-y: hidden;
    height: 100vh;
}

/* Oculta barra scroll */
::-webkit-scrollbar {
    display: none;
}

/* Fondos */
.fondos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.fondo1 {
    background-image: url('fotos/fondo1.jpg');
}

.fondo2 {
    background-image: url('fotos/fondo2.jpg');
}

.fondo3 {
    background-image: url('fotos/fondo3.jpg');
}

/*  Rotar y des-rotar */
.rotar {
    transform: rotate(45deg);
}

.desrotar {
    transform: rotate(-45deg);
}

/* Hover Agrandar */
.agrandar {
    transition: all ease .55s;
}

.agrandar:hover {
    transform: scale(1.1);
}

.agrandar2 {
    transition: all ease .55s;
}

.agrandar2:hover {
    transform: scale(1.1);
}


/* Hover Azul */
.azuloscuro {
    transition: background-color 0.3s;
}

.azuloscuro:hover {
    background-color: #00131E;
}

/* Subrayados menú */
@keyframes fadeInUnderline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.subrayado {
    position: relative;
    display: inline-block;
}

.subrayado::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 16px;
    height: 2px;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.436);
    transform-origin: left center;
    animation: fadeInUnderline 0.8s forwards;
}

/* Responsive */
@media (min-width: 1024px) {

    /* Scroll habilitado */
    .contenedor {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }

    .esconder {
        display: none;
    }

    #menu {
        background: transparent;
    }
}